section#dashboard {
  background-color: white;
  height: 520px;
  position: relative;
}
section#dashboard::after{
  content: "";
  width: 1800px;
  height: 236px;
  display: block;
  background-color: #e9e7e7;
  border-radius: 30px 0 0 30px;
  position: absolute;
  right: 0;
  bottom: 50px;
}
section#dashboard .wrap {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  position: relative;
  z-index: 1;
}
section#dashboard .wrap h2{
  
}
section#dashboard .wrap h2 strong {
  line-height: 1.6;
}
section#dashboard .wrap p {
  grid-column: 1;
}
section#dashboard .wrap> span {
  grid-column: 1;
  margin-top: 60px;
}
section#dashboard .wrap span a {
  
  margin-bottom: 10px;
}
section#dashboard .wrap ul {
  grid-column: 2;
  grid-row: 1 /span 5;
  align-items: center;
  gap: 30px;
}
section#dashboard .wrap ul li {
  
}