section#prod {
   max-width: 1720px;
   margin: 0 auto;
   background-color: white;
 }
 section#prod .wrap {
   gap: 40px;
 }
 section#prod .wrap h2 {
   
 }
 section#prod .wrap ul {
   width: calc(100% / 2);
   flex-wrap: wrap;
   gap: 60px;
 }
 section#prod .wrap ul li {
   width: 360px;
   height: 360px;
 }
 section#prod .wrap ul li:first-child{
   
   /*! background-image: url(../img/prod1.png); */
   /*! background-repeat: no-repeat; */
   /*! background-position: right bottom; */
   /*! background-size: 37%; */
 }
 section#prod .wrap ul li a {
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
   padding: 30px;
   box-sizing: border-box;
   transition: box-shadow 0.5s;
 }
 section#prod .wrap ul li a:hover {
   box-shadow: 0px 0px 15px #ccc;
 }
 section#prod .wrap ul li a::after{
   content: "";
   background-image: url(../img/prod4.png);
   background-repeat: no-repeat;
   background-position: right bottom;
   background-size: contain;
   width: 120px;
   height: 180px;
   display: inline-block;
 }
 section#prod .wrap ul li a h3 {
   width: calc(100% / 2);
   width: 100%;
 }
 section#prod .wrap ul li a p {
   
   width: 60%;
 }
 section#prod .wrap .pdet {
   width: calc(100% / 2);
 }
 section#prod .wrap .pdet article {
   display: grid;
   grid-template-columns: 50% calc(50% - 50px);
   grid-template-rows: auto auto 1fr;
   column-gap: 50px;
   row-gap: 24px;
 }
 section#prod .wrap .pdet article:not(:first-child) {
   display: none;
 }
 section#prod .wrap .pdet article hgroup {
   
 }
 section#prod .wrap .pdet article hgroup h3 {
   margin-bottom: 16px;
 }
 section#prod .wrap .pdet article hgroup h4 {
   
 }
 section#prod .wrap .pdet article p.h4 {
   line-height: 1.3;
   grid-column: 1 /span 2;
   grid-row: 2;
 }
 section#prod .wrap .pdet article p.p {
   
  grid-column: 1 / span 2;
  grid-row: 3;
 }
 section#prod .wrap .pdet article img {
   grid-row: 3;
   grid-column: 1;
 }